<?xml version="1.0" encoding="UTF-8"?>
<web-app>

<context-param>
    <param-name>driver</param-name>
    <param-value>com.microsoft.sqlserver.jdbc.SQLServerDriver</param-value>
</context-param>
<context-param>
    <param-name>url</param-name>
    <param-value>jdbc:sqlserver://localhost:1433;database=UserTest_DB</param-value>
</context-param>
<context-param>
    <param-name>username</param-name>
    <param-value>sa</param-value>
</context-param>
<context-param>
    <param-name>password</param-name>
    <param-value>117215</param-value>
</context-param>

<servlet>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>com.huangxi.week2.HelloWorldServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/hello</url-pattern>
</servlet-mapping>
<welcome-file-list>
    <welcome-file>home</welcome-file>
</welcome-file-list>

<!--chain of filters-->
<!--1st-->
<!--<filter>-->
<!--    <filter-name>AuthFilter</filter-name>-->
<!--    <filter-class>com.huangxi.filter.AuthFilter</filter-class>-->
<!--</filter>-->
<!--<filter-mapping>-->
<!--    <filter-name>AuthFilter</filter-name>-->
<!--    <url-pattern>/hello-selvet</url-pattern>-->
<!--</filter-mapping>-->
<!--2nd-->
<!--<filter>-->
<!--    <filter-name>HelloFilter</filter-name>-->
<!--    <filter-class>com.huangxi.filter.HelloFilter</filter-class>-->
<!--</filter>-->
<!--<filter-mapping>-->
<!--    <filter-name>HelloFilter</filter-name>-->
<!--    <url-pattern>/hello-selvet</url-pattern>-->
<!--</filter-mapping>-->
<!--3rd-->
<!--<filter>-->
<!--    <filter-name>LoggerFilter</filter-name>-->
<!--    <filter-class>com.huangxi.filter.LoggerFilter</filter-class>-->
<!--</filter>-->
<!--<filter-mapping>-->
<!--    <filter-name>LoggerFilter</filter-name>-->
<!--    <url-pattern>/hello-selvet</url-pattern>-->
<!--</filter-mapping>-->]
    <filter>
        <filter-name>YourNameFilter</filter-name>
        <filter-class>com.huangxi.lab2.HuangXiFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>YourNameFilter</filter-name>
        <url-pattern>/lab2/validate.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.huangxi.lab2.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/lab2/validate.jsp</url-pattern>
    </filter-mapping>

    <listener>
    <listener-class>com.huangxi.week6.JDBCServletContextListener</listener-class>
   </listener>
<!--
<servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.huangxi.week3.RegisterServlet</servlet-class>
</servlet>
-->
<!--
<servlet>
    <servlet-name>ConfigDemoServlet</servlet-name>
    <servlet-class>com.huangxi.week4.ConfigDemoServlet</servlet-class>
    <init-param>
        <param-name>studentName</param-name>
        <param-value>HuangXi</param-value>
    </init-param>
    <init-param>
        <param-name>studentId</param-name>
        <param-value>2020211001001102</param-value>
    </init-param>
</servlet>
-->
<!--
<servlet>
    <servlet-name>JDBCDemoServlet</servlet-name>
    <servlet-class>com.huangxi.week4.JDBCDemoServlet</servlet-class>
    <init-param>
        <param-name>driver</param-name>
        <param-value>com.microsoft.sqlserver.jdbc.SQLServerDriver</param-value>
    </init-param>
    <init-param>
        <param-name>url</param-name>
        <param-value>jdbc:sqlserver://localhost:1433;database=UserTest_DB</param-value>
    </init-param>
    <init-param>
        <param-name>username</param-name>
        <param-value>sa</param-value>
    </init-param>
    <init-param>
        <param-name>password</param-name>
        <param-value>117215</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
</servlet>
-->

<!--
<servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
</servlet-mapping>
-->
<!--
<servlet-mapping>
    <servlet-name>ConfigDemoServlet</servlet-name>
    <url-pattern>/config</url-pattern>
</servlet-mapping>
-->
<!--
<servlet-mapping>
    <servlet-name>JDBCDemoServlet</servlet-name>
    <url-pattern>/jdbc</url-pattern>
</servlet-mapping>
-->
</web-app>